body {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 32px 32px 0 32px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;

  width: 100%;

  padding: 32px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 12px;
  width: 100%;
  background-color: #0515240f;

  min-height: 120px;
  max-width: 600px;

  border-radius: 8px;
}

.board-header {
  display: flex;
  align-items: center;
  gap: 22px;

  font-size: 12px;
  font-weight: 500;
}

.board-header-text {
  color: #6b6e76;
  text-transform: uppercase;
}

.board-header-icon {
  padding: 1px 12px;
  background-color: #0515240f;
  border-radius: 4px;
}

.board-tasks {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  min-height: 100px;
}

#create-task {
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-top: auto;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: #505258;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
}

#create-task:hover {
  background-color: #0b120e24;
}

#loader {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: white;
}

#loader span {
  display: block;
  width: 48px;
  height: 48px;

  border: 6px solid #505258;
  border-bottom-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
