.task {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 12px;

  background-color: white;
  border-radius: 5px;

  box-shadow: 0px 1px 3px 2px rgba(215, 215, 215, 1);
}

.task:hover {
  background-color: #e9eaeb;
}

.task-assignee {
  border-radius: 100%;
  background-color: #0515240f;

  width: 22px;
  height: 22px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.task-tag {
  color: #505258;
  font-size: 12px;
  text-transform: uppercase;
}

.task-details {
  display: flex;
  gap: 4px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.task-remove-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.task.dragging {
    opacity: 0.5;
}

.drop-indicator {
    height: 1px;
    background-color: #292a2e;
    margin: 8px 0;
    border-radius: 4px;
    pointer-events: none;
}